# Introduction
What is the purpose of this project

In [2]:
import pandas as pd

# Loading the Data

In [4]:
# Read the CSV file 

stack_overflow_file_path = 'developer_dataset.csv'

try:
    developer_dataset = pd.read_csv(stack_overflow_file_path)
except FileNotFoundError:
    print(f'Error: the file {stack_overflow_file_path} was not found')

stack_overflow_df = developer_dataset.copy()

/var/folders/ss/_s30b2md5nsgx4nr60qrj4nc0000gn/T/ipykernel_8235/942379579.py:6: DtypeWarning: Columns (18,19,20) have mixed types. Specify dtype option on import or set low_memory=False.
  developer_dataset = pd.read_csv(stack_overflow_file_path)

The dataset has 111,209 entries and 21 columns. Here are the first few rows and an overview of the columns:

	•	RespondentID: Unique identifier for each respondent.
	•	Year: The year the survey was conducted.
	•	Country: The respondent’s country.
	•	Employment: Employment status.
	•	UndergradMajor: Undergraduate major.
	•	DevType: Types of developers.
	•	LanguageWorkedWith: Languages the respondent has worked with.
	•	LanguageDesireNextYear: Languages the respondent wants to work with next year.
	•	DatabaseWorkedWith: Databases the respondent has worked with.
	•	DatabaseDesireNextYear: Databases the respondent wants to work with next year.
	•	PlatformWorkedWith: Platforms the respondent has worked with.
	•	PlatformDesireNextYear: Platforms the respondent wants to work with next year.
	•	Hobbyist: Whether the respondent codes as a hobby.
	•	OrgSize: Size of the organization the respondent works for.
	•	YearsCodePro: Years of professional coding experience.
	•	JobSeek: Whether the respondent is looking for a job.
	•	ConvertedComp: Annual salary in USD.
	•	WorkWeekHrs: Hours worked per week.
	•	NEWJobHunt: Reason for job hunting.
	•	NEWJobHuntResearch: How the respondent searches for new jobs.
	•	NEWLearn: How the respondent learns new technologies.

In [6]:
# Check the DataFrame info:
stack_overflow_df.info()
# Display the first few rows of the dataset
stack_overflow_df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111209 entries, 0 to 111208
Data columns (total 21 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   RespondentID            111209 non-null  int64
 1   Year                    111209 non-null  int64
 2   Country                 111209 non-null  object
 3   Employment              109425 non-null  object
 4   UndergradMajor          98453 non-null   object
 5   DevType                 100433 non-null  object
 6   LanguageWorkedWith      102018 non-null  object
 7   LanguageDesireNextYear  96044 non-null   object
 8   DatabaseWorkedWith      85859 non-null   object
 9   DatabaseDesireNextYear  74234 non-null   object
 10  PlatformWorkedWith      91609 non-null   object
 11  PlatformDesireNextYear  85376 non-null   object
 12  Hobbyist                68352 non-null   object
 13  OrgSize                 54804 non-null   object
 14  YearsCodePro            94793 non-null   float64
 15  JobSeek                 60556 non-null   object
 16  ConvertedComp           91333 non-null   float64
 17  WorkWeekHrs             51089 non-null   float64
 18  NEWJobHunt              19127 non-null   object
 19  NEWJobHuntResearch      18683 non-null   object
 20  NEWLearn                24226 non-null   object
dtypes: float64(3), int64(2), object(16)
memory usage: 17.8+ MB

,RespondentID,Year,Country,Employment,UndergradMajor,DevType,LanguageWorkedWith,LanguageDesireNextYear,DatabaseWorkedWith,DatabaseDesireNextYear,...,PlatformDesireNextYear,Hobbyist,OrgSize,YearsCodePro,JobSeek,ConvertedComp,WorkWeekHrs,NEWJobHunt,NEWJobHuntResearch,NEWLearn
0,1,2018,United States,Employed full-time,"Computer science, computer engineering, or sof...",Engineering manager;Full-stack developer,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,141000.0,NaN,NaN,NaN,NaN
1,1,2019,United States,Employed full-time,"Computer science, computer engineering, or sof...","Developer, full-stack",C;C++;C#;Python;SQL,C;C#;JavaScript;SQL,MySQL;SQLite,MySQL;SQLite,...,Linux;Windows,No,100 to 499 employees,1.0,I am not interested in new job opportunities,61000.0,80.0,NaN,NaN,NaN
2,1,2020,United States,Employed full-time,"Computer science, computer engineering, or sof...",NaN,HTML/CSS;Ruby;SQL,Java;Ruby;Scala,MySQL;PostgreSQL;Redis;SQLite,MySQL;PostgreSQL,...,Docker;Google Cloud Platform;Heroku;Linux;Windows,Yes,NaN,8.0,NaN,NaN,NaN,NaN,NaN,Once a year
3,2,2018,United States,Employed full-time,"Computer science, computer engineering, or sof...",Full-stack developer,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,C#;JavaScript;SQL;TypeScript;HTML;CSS;Bash/Shell,"SQL Server;Microsoft Azure (Tables, CosmosDB, ...","SQL Server;Microsoft Azure (Tables, CosmosDB, ...",...,Azure,NaN,NaN,4.0,NaN,48000.0,NaN,NaN,NaN,NaN
4,2,2019,United States,Employed full-time,"Computer science, computer engineering, or sof...",Data or business analyst;Database administrato...,Bash/Shell/PowerShell;HTML/CSS;JavaScript;PHP;...,Bash/Shell/PowerShell;HTML/CSS;JavaScript;Rust...,Couchbase;DynamoDB;Firebase;MySQL,Firebase;MySQL;Redis,...,Android;AWS;Docker;IBM Cloud or Watson;Linux;S...,Yes,10 to 19 employees,8.0,I am not interested in new job opportunities,90000.0,40.0,NaN,NaN,NaN

# Data Cleaning

In [7]:
# Check for missing values in each column 
missing_data = stack_overflow_df.isnull().sum()
missing_data_percentage = (missing_data / len(stack_overflow_df)) * 100 
missing_summary = pd.DataFrame({
    'Missing Values': missing_data,
    'Percentage': missing_data_percentage
})

# Display the summary of missing data
missing_summary

                        Missing Values  Percentage
RespondentID                         0    0.000000
Year                                 0    0.000000
Country                              0    0.000000
Employment                        1784    1.604187
UndergradMajor                   12756   11.470295
DevType                          10776    9.689863
LanguageWorkedWith                9191    8.264619
LanguageDesireNextYear           15165   13.636486
DatabaseWorkedWith               25350   22.794918
DatabaseDesireNextYear           36975   33.248208
PlatformWorkedWith               19600   17.624473
PlatformDesireNextYear           25833   23.229235
Hobbyist                         42857   38.537349
OrgSize                          56405   50.719816
YearsCodePro                     16416   14.761395
JobSeek                          50653   45.547573
ConvertedComp                    19876   17.872654
WorkWeekHrs                      60120   54.060373
NEWJobHunt                       92082   82.800852
NEWJobHuntResearch               92526   83.200101
NEWLearn                         86983   78.215792

![Image](file-service://file-Lxo8T7QbTt9DZ5hhSfgm0vFR)

### Relationship Between Professional Experience and Salary

#### Key Insights:
- The scatter plot shows a wide spread of salaries across different years of professional experience.
- The calculated correlation coefficient is approximately 0.052, indicating a very weak positive correlation between years of professional experience and salary.

### Summary

1. **Top Programming Languages**:
   - **Worked With**: JavaScript, SQL, HTML/CSS, Python, C#, Java, Bash/Shell/PowerShell, HTML, PHP, CSS.
   - **Desired**: Python, JavaScript, SQL, C#, TypeScript, HTML/CSS, Java, Go, C++, Bash/Shell/PowerShell.

2. **Top Countries by Median Salary**:
   - United States, China, United Kingdom, Canada, Germany, Japan, France, Spain, Mexico.

3. **Relationship Between Experience and Salary**:
   - A very weak positive correlation between professional experience and salary.

### Reporting to the Client

We have gathered valuable insights regarding the developer trends and the potential hiring market. These insights can help the client make informed decisions about hiring strategies, expected salaries, and understanding the developer landscape.

Would you like to proceed with more detailed analyses, or is there any specific aspect you want to focus on next?